<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>408414341283-uvlc9u5i19ciigrtpa294ic5pku9v83u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408414341283-uvlc9u5i19ciigrtpa294ic5pku9v83u</string>
	<key>API_KEY</key>
	<string>AIzaSyC81nL0nlb0crL-83JNOa3PdLa0vjQDY-s</string>
	<key>GCM_SENDER_ID</key>
	<string>408414341283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ToursApp</string>
	<key>PROJECT_ID</key>
	<string>toursapp-e5f26</string>
	<key>STORAGE_BUCKET</key>
	<string>toursapp-e5f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408414341283:ios:1ab0e5d1dd2e6745</string>
	<key>DATABASE_URL</key>
	<string>https://toursapp-e5f26.firebaseio.com</string>
</dict>
</plist>